<div class="container couleur2">
    <div class="row">
        <div class="col-md-4">
            <div class="row g-0 border rounded overflow-hidden flex-md-row mb-4 shadow-sm h-md-250 position-relative">

                <div class="col p-4 d-flex flex-column position-static">
                    <div class="row couleur1"> <h3>A propos</h3></div>
                    
                    <p class="card-text mb-auto">
                        Cette plateforme mets a la disposition du public l'ensemble des document, services et procédures administratifs
                        </p>
                    
                    
                </div>

            </div>
        </div>
        <div class="col-md-8">
            <div class="row g-0 border rounded overflow-hidden flex-md-row mb-4 shadow-sm h-md-250 position-relative couleur1">
                <div class="col p-4 d-flex flex-column position-static">
                    <!--particuliers-->
                    
                    <section id="adminv" class="light-bg">
                        <div class="container">
                            <div class="row ">
                                        <div class="col-md-4 text-center border rounded overflow-hidden flex-md-row mb-4 shadow-sm h-md-250 position-relative couleur2">
                                            <div class="mz-module">
                                                <div class="mz-module-adminv"><a href="#" onclick="mojarra.jsfcljs(document.getElementById('frm_espace'),{'frm_espace:j_idt31:1:j_idt34':'frm_espace:j_idt31:1:j_idt34'},'');return false">
                                                        <i class="fa fa-bank color1 ot-circle"></i></a><a href="#" onclick="mojarra.jsfcljs(document.getElementById('frm_espace'),{'frm_espace:j_idt31:1:j_idt36':'frm_espace:j_idt31:1:j_idt36'},'');return false">
                                                        <h3>Entreprises</h3>
                                                        <p>les procédures administratives concernant la création des entreprises</p></a>
                                                </div><a href="#" onclick="mojarra.jsfcljs(document.getElementById('frm_espace'),{'frm_espace:j_idt31:1:j_idt39':'frm_espace:j_idt31:1:j_idt39'},'');return false" class="mz-module-button"></a>
                                            </div>
                                        </div>
                                        <div class="col-md-4 text-center border rounded overflow-hidden flex-md-row mb-4 shadow-sm h-md-250 position-relative couleur2">
                                            <div class="mz-module">
                                                <div class="mz-module-adminv"><a href="#" onclick="mojarra.jsfcljs(document.getElementById('frm_espace'),{'frm_espace:j_idt31:2:j_idt34':'frm_espace:j_idt31:2:j_idt34'},'');return false">
                                                        <i class="fa fa-male color1 ot-circle"></i></a><a href="#" onclick="mojarra.jsfcljs(document.getElementById('frm_espace'),{'frm_espace:j_idt31:2:j_idt36':'frm_espace:j_idt31:2:j_idt36'},'');return false">
                                                        <h3>Particuliers</h3>
                                                        <p> les procédures administratives adressées à tout particuliers</p></a>
                                                </div><a href="#" onclick="mojarra.jsfcljs(document.getElementById('frm_espace'),{'frm_espace:j_idt31:2:j_idt39':'frm_espace:j_idt31:2:j_idt39'},'');return false" class="mz-module-button"></a>
                                            </div>
                                        </div>
                                
    
                                
                                <div class="col-md-4 text-center border rounded overflow-hidden flex-md-row mb-4 shadow-sm h-md-250 position-relative couleur2">
                                    <div class="mz-module">
                                        <div class="mz-module-adminv"><a href="#" onclick="mojarra.jsfcljs(document.getElementById('frm_espace'),{'frm_espace:j_idt42':'frm_espace:j_idt42'},'');return false">
                                                <i class="fa fa-laptop  ot-circle"></i></a><a href="#" onclick="mojarra.jsfcljs(document.getElementById('frm_espace'),{'frm_espace:j_idt44':'frm_espace:j_idt44'},'');return false">
                                                <h3>Documents</h3>
                                                <p> les documents administratifs</p></a>
                                        </div><a href="#" onclick="mojarra.jsfcljs(document.getElementById('frm_espace'),{'frm_espace:j_idt47':'frm_espace:j_idt47'},'');return false" class="mz-module-button couleur3"></a>
                                    </div>
                                </div>
                                
                            </div>
    
                        </div>
                    </section>

                   
                </div>

            </div>
        </div>
    </div>
    <div class="row">
        <div class="col-md-4">
            <div class="row g-0 border rounded overflow-hidden flex-md-row mb-4 shadow-sm h-md-250 position-relative">

                <div class="col p-4 d-flex flex-column position-static">
                    <div class="row couleur1"> <h3>Rechercher un service</h3></div>
                    
                    <p class="card-text mb-auto">
                        Cette plateforme mets a la disposition du public l'ensemble des document, services et procédures administratifs
                        </p>
                    
                    
                </div>

            </div>
        </div>
        <div class="col-md-8">
            <div class="row g-0 border rounded overflow-hidden flex-md-row mb-4 shadow-sm h-md-250 position-relative couleur1">
                <div class="col p-4 d-flex flex-column position-static">
                    <!--particuliers-->
                    
                    <section id="adminv" class="light-bg">
                        
                           <p>Liste  des services</p>
    
                       
                    </section>

                   
                </div>

            </div>
        </div>
    </div>
</div>